# Copy to .env for local dev run
# Expects the app to be running in ./target
ONTOPUS_SYSTEM_URI=http://localhost
ONTOPUS_ADMINISTRATION_ALLOWED_ORIGINS=http://localhost:5173,http://localhost
ONTOPUS_PLUGIN_WIDOCO_FILES_DIRECTORY=./widoco
ONTOPUS_PLUGIN_WIDOCO_PATH=${ONTOPUS_PLUGIN_WIDOCO_FILES_DIRECTORY}
ONTOPUS_FRONTEND_INDEX_FILE=../administration-frontend/dist/index.html
SERVER_PORT=80


# OR with port 8080
# ONTOPUS_SYSTEM_URI=http://localhost:8080
# ONTOPUS_ADMINISTRATION_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:8080
# SERVER_PORT=8080
