# Copy to .env for customized local Docker build
ONTOPUS_SYSTEM_URI=http://localhost:8080/
ONTOPUS_ADMINISTRATION_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:8080
ONTOPUS_DATABASE_URL=http://graphdb:7200/repositories/ontopus

