ONTOPUS_SYSTEM_URI=http://localhost:8080/
ONTOPUS_ADMINISTRATION_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:8080
ONTOPUS_PLUGIN_WIDOCO_FILES_DIRECTORY=/tmp/widoco
ONTOPUS_PLUGIN_WIDOCO_PATH=${ONTOPUS_PLUGIN_WIDOCO_FILES_DIRECTORY}
