# Copy to .env for Docker build
ONTOPUS_SYSTEM_URI=http://localhost:8080/
ONTOPUS_ADMINISTRATION_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:8080
ONTOPUS_PLUGIN_WIDOCO_FILES_DIRECTORY=/tmp/widoco
ONTOPUS_PLUGIN_WIDOCO_PATH=${ONTOPUS_PLUGIN_WIDOCO_FILES_DIRECTORY}
ONTOPUS_FRONTEND_INDEX_FILE=./administration-frontend/dist/index.html
ONTOPUS_DATABASE_URL=http://graphdb:7200/repositories/ontopus
# Enable processing of forwarded headers (e.g. X-Forwarded-For) by TomCat
SERVER_FORWARD_HEADERS_STRATEGY=NATIVE
SERVER_PORT=8080
