<Configuration status="WARN" monitorInterval="30">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false"
                           pattern="%d{ISO8601} %highlight{%-5p} [%15.15t] %style{%-35.35c{1.}}{cyan} - %m%notEmpty{ :: %X}%n%throwable{full}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="cz.lukaskabc" level="trace" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
